<h1>Neil's Total Aikido</h1>

<ul>
  <li><%= link_to "Students", students_path %></li>
  <li><%= link_to "Ranks", ranks_path %></li>
  <li><%= link_to "Attendance", attendances_path %></li>
  <li><%= link_to "Library", libraries_path %></li>
</ul>